
.home {
	text-align: center;

	.entry-title {
		display: none;
	}

	.projects-button {
		justify-content: center;
	}

	.name-hero {
		font-size: 1.5em;
	}

	.wp-block-accordion-heading {
		background-color: $color__background-button;
	}

	.wp-block-accordion-panel {
		ul {
			text-align: left;
		}
	}
}
